<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FirstWebservice</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!--  
  <servlet>
    <description></description>
    <display-name>FirstWebservice</display-name>
    <servlet-name>FirstWebservice</servlet-name>
    <servlet-class>edu.harvard.i2b2.ws.FirstWebservice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstWebservice</servlet-name>
    <url-pattern>/FirstWebservice</url-pattern>
  </servlet-mapping>
  -->
  
  <!--   
  <servlet>
    <description></description>
    <display-name>RestfulService</display-name>
    <servlet-name>RestfulService</servlet-name>
    <servlet-class>edu.harvard.i2b2.fr.ws.RestfulService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestfulService</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  -->
  
  <servlet>
    <servlet-name>TestEndpoint</servlet-name>
    <servlet-class>edu.harvard.i2b2.fr.ws.ProviderRestService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestEndpoint</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  
</web-app>