.sdxDefaultCONCPT {
	font-family:arial,helvetica;
	font-size:12px;
	/* white-space:nowrap; */
	vertical-align:bottom;
	zcursor:pointer;
}
.sdxDefaultCONCPT img {
	height:16px;
	width:16px;
	border:none;
	padding-right:3px;
	vertical-align:bottom;
}
.sdxDefaultCONCPT a {
	color:#000000;
	text-decoration:none;
}
.sdxDefaultCONCPT a:hover {
	text-decoration:underline;
}

.ddCONCPTTarget {
	background:#FFFFBB !important;	
}

